<div class="main-container">
    <img src="assets/m.jpg" alt="Tipos de Tortugas Marinas" class="turtle-types-image">
</div>

<div class="cards-container">
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA CAGUAMA
        </div>
        <div class="card-body">
            <img src="assets/c.jpg" alt="Tortuga Caguama" class="turtle-card-image">
        </div>
    </div>
  
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA LAUD
        </div>
        <div class="card-body">
            <img src="assets/c.jpg" alt="Tortuga Laud" class="turtle-card-image">
        </div>
    </div>
  
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA GOLFINA
        </div>
        <div class="card-body">
            <img src="assets/c.jpg" alt="Tortuga Golfina" class="turtle-card-image">
        </div>
    </div>
</div>

    