.main-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.turtle-types-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.cards-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-top: 40px;
    padding: 0 10px; 

.turtle-card {
    width: 300px;
    background-color: #4169E1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    margin: 20px 10px;
    border: 2px solid #000080; 
    text-align: center;
}

.card-header {
    background-color: #f9e79f;
    color: black;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #000080; 
}

.card-body {
    padding: 10px;
}

.turtle-card-image {
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px; 
}
}