<div class="header">
  <ul class="nav-links">
    <li><a routerLink="/tipostortuga">TIPOS DE TORTUGAS</a></li>
    <li><a routerLink="/datosinteresantes">DATOS INTERESANTES</a></li>
  </ul>
</div>

<div class="main-container">
  <img src="assets/ttp.jpg" alt="Tipos de Tortugas Marinas" class="turtle-types-image">
</div>

<div class="card-container">
  <!-- Iterar sobre las tarjetas -->
  <div *ngFor="let card of cards" class="card">
    <div class="card-header">{{ card.title }}</div>
    <div class="card-body">
      <img [src]="card.image" [alt]="card.title" class="turtle-card-image">
      <div class="card-text">
        <p>{{ card.description }}</p>
        <p>{{ card.additionalInfo }}</p>
      </div>
    </div>
  </div>

  <!-- Tarjeta especial que ocupa todo el ancho -->
  <div *ngFor="let specialCard of specialCards" class="card3">
    <div class="card-header">{{ specialCard.title }}</div>
    <div class="card-body">
      <img [src]="specialCard.image" [alt]="specialCard.title" class="turtle-card-image">
      <div class="card-text">
        <p>{{ specialCard.description }}</p>
      </div>
    </div>
  </div>
</div>
