.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre las tarjetas */
  justify-content: center;
  padding: 20px;
}

.card {
  flex: 1 1 calc(50% - 20px); /* Ocupa el 50% del ancho menos el margen */
  max-width: 48%; /* Asegura que no exceda el ancho */
  background-color: #f9e79f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px 0; /* Espaciado vertical */
  border: 1px solid #ccc;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el efecto */
}

.card:hover {
  transform: translateY(-10px); /* Eleva la tarjeta cuando el ratón pasa sobre ella */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra para dar el efecto de elevación */
}

.card3 {
  flex: 1 1 100%; /* Ocupa todo el ancho disponible */
  max-width: 100%; /* Asegura que no exceda el ancho */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px 0; /* Espaciado vertical */
}

.card-header {
  background-color: #727272;
  color: #101010;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.card-body {
  display: flex;
  padding: 20px;
  align-items: center;
}

.turtle-card-image {
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.card-text {
  font-size: 16px;
  color: #333;
  flex: 1;
}


.turtle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #00567B;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #00567B;
}
