
body {
  background-color: blue;
  margin: 0;
  padding: 0;
  height: 100vh; 
}

.header {
  position: relative;
  width: 100%;
  height: 250px; 
  background-color: blue;
}

.turtle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
