<div class="main-container">
    <img src="assets/tt.jpg" alt="Tipos de Tortugas Marinas" class="turtle-types-image">
</div>

<div class="cards-container">
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA CAGUAMA
        </div>
        <div class="card-body">
            <img src="assets/c.jpg" alt="Tortuga Caguama" class="turtle-card-image">
        </div>
    </div>
  
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA LAUD
        </div>
        <div class="card-body">
            <img src="assets/s.jpg" alt="Tortuga Laud" class="turtle-card-image">
        </div>
    </div>
  
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA GOLFINA
        </div>
        <div class="card-body">
            <img src="assets/x.jpg" alt="Tortuga Golfina" class="turtle-card-image">
        </div>
    </div>
</div>
<div class="cards-container">
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA VERDE
        </div>
        <div class="card-body">
            <img src="assets/ttv.jpg" alt="Tortuga VERDE" class="turtle-card-image">
        </div>
    </div>
  
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA CAREY
        </div>
        <div class="card-body">
            <img src="assets/ttc.jpg" alt="Tortuga CAREY" class="turtle-card-image">
        </div>
    </div>
  
    <div class="turtle-card">
        <div class="card-header">
            TORTUGA LORA
        </div>
        <div class="card-body">
            <img src="assets/x.jpg" alt="Tortuga LORA" class="turtle-card-image">
        </div>
    </div>
</div>
<app-footer></app-footer>