<div class="main-container">
    <img src="assets/tt.jpg" alt="Tipos de Tortugas Marinas" class="turtle-types-image">
</div>

<div class="header">
    <ul class="nav-links">
      <li><a routerLink="/tipostortuga">TIPOS DE TORTUGAS</a></li>
      <li><a routerLink="/datosinteresantes">DATOS INTERESANTES</a></li>
    </ul>
</div>

<div class="cards-container">
    <div *ngFor="let tortuga of tortugas" class="turtle-card">
        <div class="card-header">
            {{ tortuga.name }}
        </div>
        <div class="card-body">
            <img [src]="tortuga.image" [alt]="tortuga.alt" class="turtle-card-image">
        </div>
    </div>
</div>

<app-footer></app-footer>
