<footer class="social-footer">
    <ul class="social-links">
      <li>
        <a href="https://www.instagram.com" target="_blank">
          <img src="assets/ins.png" alt="Instagram" class="social-icon">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank">
          <img src="assets/face.png" alt="Facebook" class="social-icon">
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com" target="_blank">
          <img src="assets/twi.png" alt="Twitter" class="social-icon">
        </a>
      </li>
    </ul>
  </footer>
  